@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html,body{
    font-size: 10px;
    scroll-behavior: smooth;
}
a{
    color:#333;
    text-decoration: none;
}
.container{
    max-width: 960px;
    padding: 80px 0 40px;
    margin: 0 auto;
}
/* section{
    margin-top: 80px;
} */
/* ----------------- ヘッダー ----------------- */
#header{
    position: fixed;
    padding: 0 40px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background:rgba(255, 255, 255, 0.6);
    z-index: 999;
}
#header .area_logo h1{
    font-size: 2.4rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 600;
    color: rgb(84, 86, 224);
    flex-flow: 1;
}
#list_nav ul{
    display: flex;
}
#list_nav{
    margin-left: auto;
}
#list_nav li{
    padding-right: 40px;
}
#list_nav li:last-child{
    padding-right: 0;
}      
#list_nav li>a{
    font-size: 1.6rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 400;            
}
#list_nav a:hover{
    color: rgb(84, 86, 224);}

/* メインビュー */

.main_view{
    background: url(/img/main_view.jpeg)no-repeat center center;
    background-size: cover;
    top: 0;
    left: 0;
    }
.main_view>.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: cornsilk;
    opacity: .7;
    text-align: center;
    line-height: 1.5;
}
.main_view .ttl{
    font-size: 6.4rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 500;   
}
.main_view .description {
    font-size: 2rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 400; 
}

/* ----------------- 共通タイトル -----------------*/
.hero_ttl_area{
    padding-bottom: 30px;
    display: flex;
    vertical-align: text-bottom;
    align-items: center;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
.hero_ttl{
    font-size: 5em;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 500;
    color: #555;
    padding-right: 20px;
}
.hero_subttl{
    font-size: 1.6em;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 400;
    color: #aaa;
}
/* ----------------- 共通ボタン -----------------*/
.hero_btn{
    display: block;
    font-size: 1.6em;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 400;
    color: #333;
    background:rgba(255, 255,255, 0.5);
    border:1px solid #333;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    cursor: pointer;
}
.hero_btn:hover{
    color: #fff;
    background: #333;
    transition: ease-in,0.3s;
}

/* ----------------- 作品エリア -----------------*/
.works_list{
    display: flex;
    flex-wrap: wrap;   
}
.work{
    width: 300px;
    box-sizing: border-box;
    margin: 0 20px 30px 0;
    
}
.work .work_box{
    overflow: hidden;
}
.work .work_img{
    border-radius: 5px;
}
.work_box:hover .work_img{
    opacity: .8;
    transition: all,0.3s;
}
.work_box .work_text{
  padding: 15px 0;
}
.work .work_text .work_ttl{
    font-size: 2em;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 500;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.work .work_text .work_description{
    font-size: 1.4rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 300;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.work .work_text .work_tag{
    font-size: 1.2rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 300;
    color: #808080;
}

/* ----------------- について -----------------*/
#about_area{
    padding-top: 80px;    
}
.about_bg_box{
    background: #f2f2f2;
}
.about_bg_box>.container{
    padding: 40px 0 60px;    
}
.about_box{
    display: flex;   
}
.about_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about_img{
    border-radius: 5px;
    margin-right: 30px;
}
.about_text .about_ttl{
    font-size: 2.8rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 500;
    color: #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.about_text .about_description{
    font-size: 1.6rem;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 300;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.5;
}

.contact_table{
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.6em;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 500;
    color: #333;
}
.contact_table tr:first-child{
    border-top: 1px solid #ccc;
}
.contact_item,
.contact_body {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.contact_body{
    padding-right: 0px;
}
.contact_item{
    text-align: left;
    width: 30%;
    background: #f7f7f7;
}
.contact_body{
    width: 70%;
}
.contact_table .form_text, .form_select{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    appearance: none;
    box-sizing: border-box;
}
.contact_table .contact_body .form_select{
    position: relative;
    color: #555;
    /* TODO:プルダウン矢印カスタマイズ */
}
.contact_table .contact_body .form_select::before{
    position: absolute;
    content: '';
    top: 10px;
    right: 10px;
    width: 20;
    height: 20;
    background: url(/img/arrow_down.svg);
}
.contact_table .form_textarea{
    width: 100%;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
    appearance: none;
}
#contact_area .hero_btn{
    display: block;
    font-size: 1.4em;
    font-family: 'futura PT', 'noto sans japanese',sans-serif;
    font-weight: 400;
    color: #333;
    background:#ccc;
    border:1px solid #ccc;
    text-align: center;
    padding: 15px 200px;
    margin: 30px auto;
    cursor: pointer;
}
#contact_area .hero_btn:hover{
    color: #fff;
    background: #333;
    transition: ease-in,0.3s;
}
/* snsリスト */

.sns_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -8px;
    padding-bottom: 80px;
}
.sns_list> li{
    padding: 0 8px ;
}
.sns_list a{
    display: block;
    width: 40px;
    height: 40px;
    background: rgb(84, 86, 224);
    border-radius: 50%;
    position: relative;
    transition: .3s ease-in-out;
}
.sns_list a:hover{
    background: #333;
}
.sns_list a:before{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sns_list .about_facebook a::before{
    background: url(/img/sns_ico/ico_facebook.svg)no-repeat center center;
}
.sns_list .about_instagram a::before{
    background: url(/img/sns_ico/ico_instagram.svg)no-repeat center center;
}
.sns_list .about_mail a::before{
    background: url(/img/sns_ico/ico_mail.svg)no-repeat center center;
}
footer>p{
    font-size: 1.2rem;
    color: #808080;
    text-align: center;
    margin-bottom: 20px;
}